* {
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    color: #ffffff;
}

#hangmanImage {
    width: 100%;
    max-height: 800px;
}

.hangman {
    height: 100%;
    border: 2px solid black;
    background-color: #343a40;
}


p {
    font-size: 2em;
    margin: 30px 0px;
}

.results {
    border: 2px solid black;
    background-color: #343a40;
}

#word, #guessedLetters{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    font-size: 4em;
    font-weight: bold;
}

#category {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    color: #dc3545;
}

.navbar {
    margin-bottom: 50px;
}